{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center">Who</h1>
<div class="authors-container">
    <div class="author">
        <h2>Shumlesha <span class="role">- разраб (теперь еще и девопс)</span></h2>
        <p><a href="https://vk.com/shumlesha" target="_blank">VK</a></p>
        <p><a href="https://t.me/shumlesha" target="_blank">TG</a></p>
    </div>
    <div class="author">
        <h2>DeadFairy <span class="role">- девопс</span></h2>
        <p><a href="https://vk.com/eternal_dead_fairy" target="_blank">VK</a></p>
    </div>
    <!-- Пример для других авторов -->
    <!-- <div class="author">
        <h2>Имя Автора</h2>
        <p><a href="Ссылка_на_профиль_ВК" target="_blank">Профиль ВКонтакте</a></p>
    </div> -->
</div>
{% endblock %}