{% extends 'base.html' %}

{% block content %}


<div class="container">
    <!-- Окно поиска -->
    <div class="search-window">
        <div class="input-group">
            <input type="text" id="searchInput" oninput="searchQuery()" placeholder="Введите вопрос...">
            <button id="toggleGlossary">?</button>
        </div>
        <div class="search-results" id="searchResults">
            <!-- Результаты поиска будут здесь -->
        </div>
    </div>
    <div id="glossaryPanel" class="glossary-panel">
        <p><strong>ФЗ:</strong> функциональная зависимость.</p>
        <p><strong>НФБК:</strong> нормальная Форма Бойса-Кодда. Отношение находится в нормальной форме Бойса-Кодда (НФБК), если каждый детерминант атрибутов отношения является возможным ключом отношения.</p>
        <p><strong>Детерминант:</strong> Если А->B (A функционально определяет B) и не зависит функционально от любого подмножества А, то А представляет собой детерминант B.</p>
        <p><strong>Возможный ключ, Ключ-кандидат, Потенциальный ключ:</strong> Атрибут (группа атрибутов), функционально определяющее отношение.</p>
        <p><strong>Суперключ:</strong> атрибут или их множество, единственным образом идентифицирующее кортеж отношения.</p>
        <p><strong>Потенциальный ключ:</strong> суперключ, никакое подмножество которого не является суперключом.</p>
        <p><strong>Составной ключ:</strong> ключ, состоящий из нескольких атрибутов.</p>
        <p><strong>Первичный ключ:</strong> потенциальный ключ, выбранный для уникальной идентификации кортежей отношения.</p>
        <p><strong>Альтернативный ключ:</strong> потенциальный ключ, не выбранный в качестве первичного.</p>
        <p><strong>Суррогатный ключ:</strong> искусственный атрибут, не имеющий связей с реальными характеристиками явлений ПрО, вводимый в схему отношения исключительно для организации связи кортежей.</p>
        <p><strong>Суррогатный первичный ключ:</strong> первичный ключ, уникальные значения которого генерируются СУБД.</p>
        <p><strong>Внешний ключ:</strong> атрибут отношения или множество атрибутов, соответствующее потенциальному ключу некоторого отношения и являющееся его подмножеством. "внешний ключ должен являться подмножеством значений атрибутов на которые он ссылается".</p>
        <p><strong>Триггер:</strong> программа на языке программирования сервера, которая автоматически выполняется СУБД в момент наступления определенного события.</p>
        <p><strong>Курсор:</strong> инструмент для построчного сканирования результирующих таблиц с данными.</p>
        <p><strong>unknown:</strong> третье значение логического типа, обладающее свойствами: (для удобства запоминания можно представлять unkn0wn = 0.5, true = 1, false = 0).</p>
        <p><strong>Кортеж:</strong> набор именованных значений заданных типов (это множество пар «имя атрибута, значение», которое содержит одно вхождение каждого имени атрибута, принадлежащего схеме отношения).</p>
        <p><strong>Схема отношения:</strong> это именованное множество пар «имя атрибута, имя домена».</p>
        <p><strong>Схема БД:</strong> это набор именованных схем отношений.</p>
        <p><strong>Мощность множества:</strong> степень схемы отношения, которая определяет количество атрибутов в схеме.</p>
        <p><strong>Реляционная база данных:</strong> это набор отношений, имена которых совпадают с именами схем отношений в схеме БД.</p>
        <p><strong>Отношение:</strong> множество кортежей, соответствующих одной схеме отношения.</p>
        <p><strong>Домен:</strong> множество допустимых значений данного типа.</p>
        <p><strong>Атрибут:</strong> именованный домен, представляющий семантически значимые объекты.</p>
        <p><strong>Отношение:</strong> множество кортежей, соответствующих одной схеме отношения.</p>
        <p><strong>Схема отношения:</strong> это именованное множество пар «имя атрибута, имя домена».</p>
        <p><strong>Схема БД:</strong> это набор именованных схем отношений.</p>
        <p><strong>Мощность множества:</strong> степень схемы отношения.</p>
        <p><strong>Представление:</strong> виртуальное отношение, кортежи которого не хранятся на диске, а воспроизводятся на основании базовых отношений, реально существующих в БД.</p>
        <p><strong>Аксиомы Армстронга:</strong> набор правил вывода, используемых для вывода всех функциональных зависимостей реляционной базы данных.</p>
        <p><strong>Универсальное отношение:</strong> отношение, в которое включаются все представляющие интерес атрибуты ПрО и которое может таким образом содержать все данные, предполагаемые к хранению в БД. Для малых БД (включающих не более 15-20 атрибутов) универсальное отношение может использоваться в качестве отправной точки при проектировании РБД.</p>
    </div>
    <div class="chat-window">
        <div class="chat-header">
            <!-- Тут будет чат -->
        </div>

        <div class="chat-messages" id="chatMessages">

        </div>
        <div class="chat-input">
            <input type="text" id="messageInput" placeholder="Введите сообщение...">
            <button id="sendButton" onclick="sendChatMessage()">Отправить</button>
            <button title="Удаление будет только у вас" id="cleanButton" onclick="clearChatHistory()">Очистить чат</button>
        </div>
    </div>

</div>
<div class="users-count">
    <i class="fas fa-user user-icon"></i> Пользователей:&nbsp;<span id="usersCount">0</span>
</div>
<div id="usernameModal" class="modal">
    <div class="modal-content">
        <h2>Введите ваш никнейм</h2>
        <input type="text" id="usernameInput" placeholder="Никнейм">
        <button id="userbutton" onclick="saveUsername()">Сохранить</button>
    </div>
</div>

{% endblock %}